### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given a list1 copy the list1 to another list2 and remove the element at index 6 and add it to the 2nd position and also, at the end of the list2, finally remove the last element from list 1

In [52]:
l1= [34, 54, 67, 89, 11, 43, 94]
l3=l1.copy()
print("Original list",l1)
r=l1.pop(4)
print("List After removing element at index 4",l1)
l1.insert(2,r)
print("List after Adding element at index 2",l1)
l1.append(r)
print("List after Adding element at last",l1)
l3.pop( )
print("Removing last element from the original list",l3)

Original list [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last [34, 54, 11, 67, 89, 43, 94, 11]
Removing last element from the original list [34, 54, 67, 89, 11, 43]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]
Removing last element from the original list  [34, 54, 67, 89, 11, 43]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [10]:
l1= [2, 3, 4, 5, 6, 7, 8]
print("First List ",l1)
l2=  [4, 9, 16, 25, 36, 49, 64]
print("Second List ",l2)
l1.extend(l2)
set(l1)
l3= list(set(l1).copy())
print(l3)

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

In [ ]:
## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() ) 
Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

In [20]:
l1=[87, 52, 44, 53, 54, 87, 52, 53]
print("Original list " ,l1)
unique_ls=  set(l1)
print("unique list " ,unique_ls)
test_list = tuple(unique_ls)
print("tuple " ,test_list)
print("Minimum number is: " , min(test_list))
print("Maximum number is: " ,max(test_list))

Original list  [87, 52, 44, 53, 54, 87, 52, 53]
unique list  {44, 52, 53, 54, 87}
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [21]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [33]:
print(a)

what's up?

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

In [ ]:
The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

In [54]:
a="Welcome to Python"
print("The sample string:",a)
print(*a)
d=list(a)
print("The Length of the string",len(d))

The sample string: Welcome to Python
W e l c o m e   t o   P y t h o n
The Length of the string 17

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics

In [32]:
d={'physics': 80, 'math': 90, 'chemistry': 86}
print("The dictionary is:" ,d)
print("The key element accesed by index: ",list(d)[0])
print(d["physics"])

The dictionary is: {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics
80