### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [9]:
lst =[]
for i in range(1500,2700):
    if i%7 == 0 and i%5 == 0 :
        lst.append(i)
print(lst)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [271]:
line_cnt =int(input("Enter the line count: "))
for i in range(0, line_cnt,1): print("* " * i)
for j in range(line_cnt,0,-1): print("* " * j)

Enter the line count: 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 3. Write a Python program to count the number of even and odd numbers from a series of numbers.

Number of even numbers : 4
Number of odd numbers : 5

In [91]:
import random
num =[]
odd_cnt=0
even_cnt =0
for i in range(0,10):
    num.append(random.randint(10, 500))
    if num[i] % 2 !=0: odd_cnt =odd_cnt+1
    else: even_cnt = even_cnt+1   
print("Random List of number :",num)        
print ("Number of even numbers :",even_cnt)
print ("Number of odd numbers :",odd_cnt)

Random List of number : [363, 312, 183, 280, 359, 185, 287, 447, 492, 195]
Number of even numbers : 3
Number of odd numbers : 7

## 4. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [158]:
ls =[]
for i in range(200,401):
    str1 = str(i)
    cnt=0 
    for j in range(0,len(str1)): 
        if int(str1[j]) % 2 == 0:cnt =cnt + 1
        if cnt == len(str1):ls.append(str(i))            
print(",".join(ls))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

## 5. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

Input a dog's age in human years: 20
The dog's age in dog's years is 93

In [291]:
age =int(input("enter dog's age :"))
years=0
print("Input a dog's age in human years:",age)
for i in range(1,21):
    if i<=2: 
        years = years+ 10.5
    else: 
        years = years+4
print("The dog's age in dog's years is ",int(years))

enter dog's age :20
Input a dog's age in human years: 20
The dog's age in dog's years is  93

## 6. Write a Python function to find the Max of three numbers.

In [202]:
n= (3, 6, -5)
print("The Three numbers are:",n)
for i in range(0,len(n)):
    if n[i] > n[i-1]:
        max = n[i]
print("max number is ",max)

The Three numbers are: (3, 6, -5)
max number is  6

## 7. Write a Python function that takes a number as a parameter and check the number is prime or not.

The number is: 9
False

In [208]:
def f_prime(num):
    prime =True
    for i in range(2,9):
        if num != i and num%i ==0: 
            prime = False
            break 
            
    return(prime)

In [213]:
num=9
print("The number is:",num)
print(f_prime(num))

The number is: 9
False

## 8. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor

Original String :  Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No. of Upper case characters :  13
No. of Lower case Characters :  32

In [256]:
def find_case(string):
    str1 =string.replace(" ", "")
    u_cnt=0
    l_cnt=0
    print("Original String :",str1)
    for i in range(0,len(str1)):
            if str1[i].islower():l_cnt=l_cnt+1
            else: u_cnt=u_cnt+1  
    print("No. of Upper case characters :",u_cnt)  
    print("No. of Lower case Characters :",l_cnt)

In [257]:
o_str =("Inceptz is One of The BeSt Places TO LEarn DataSciEnce")
find_case(o_str)

Original String : InceptzisOneofTheBeStPlacesTOLEarnDataSciEnce
No. of Upper case characters : 13
No. of Lower case Characters : 32

## 9. Write a Python program to reverse a string.

The original string is: 1234abcd
The reversed string: dcba4321

In [270]:
str1 = "1234abcd"
print("The original string is:" ,str1)
print("The original string is:" ,str1[::-1])

The original string is: 1234abcd
The original string is: dcba4321

## 10. Write a Python program to find  the greatest common divisor (gcd) of two integers.

The two numbers are: (12, 14)
The GCD of the numbers are: 2

In [275]:
n=(12,14)
print("The two numbers are:",n)
for i in range(1,9):
    if n[0] % i == 0 and n[1] % i== 0:
        gcd=i
print("The GCD of the numbers are:",gcd)

The two numbers are: (12, 14)
The GCD of the numbers are: 2