# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [36]:
crime = pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [9]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

In [10]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [37]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [38]:
crime.set_index('Year', inplace = True)

### Step 7. Delete the Total column

In [39]:
crime=crime.drop(columns=['Total'])

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [49]:

crime['Decade'] = (crime.index.year//10)*10

In [50]:
crime.groupby(crime['Decade']).sum()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Decade,,,,,,,,,,
1960,1915053175,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,2121193298,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,2371370069,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,2612825258,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,2947969117,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,1570146307,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

In [54]:

crime_decades=crime.groupby('Decade').agg({'Population': ['min', 'max'], 
                         'Violent':'sum', 
                         'Property':'sum', 
                         'Murder':'sum',
                          'Forcible_Rape':'sum', 
                         'Robbery':'sum', 
                         'Aggravated_assault':'sum',
                             'Burglary':'sum', 
                         'Larceny_Theft':'sum', 
                         'Vehicle_Theft':'sum'})

### Step 9. What is the mos dangerous decade to live in the US?

In [53]:
crime_decades.idxmax()

Population            2010
Violent               1990
Property              1990
Murder                1990
Forcible_Rape         1990
Robbery               1990
Aggravated_assault    1990
Burglary              1980
Larceny_Theft         1990
Vehicle_Theft         1990
dtype: int64

In [55]:
crime_decades

       Population              Violent   Property  Murder Forcible_Rape  \
              min        max       sum        sum     sum           sum
Decade
1960    179323175  201385000   4134930   45160900  106180        236720
1970    203235298  220099000   9607930   91383800  192230        554570
1980    225349264  248239000  14074328  117048900  206439        865639
1990    248709873  272690813  17527048  119053499  211664        998827
2000    281421906  307006550  13968056  100944369  163068        922499
2010    309330219  318857056   6072017   44095950   72867        421059

        Robbery Aggravated_assault  Burglary Larceny_Theft Vehicle_Theft
            sum                sum       sum           sum           sum
Decade
1960    1633510            2158520  13321100      26547700       5292100
1970    4159020            4702120  28486000      53157800       9739900
1980    5383109            7619130  33073494      72040253      11935411
1990    5748930           10568963  26750015      77679366      14624418
2000    4230366            8652124  21565176      67970291      11412834
2010    1749809            3764142  10125170      30401698       3569080